<div class="modal" [ngClass]="{ 'is-active' : estadoActualModal }">

    <div class="modal-background"></div>

    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">Actualizar Usuario {{ usuarioAEditar ? usuarioAEditar.nombres :'' }} </p>
            <button class="delete" aria-label="close" (click)="cerrarModal();"></button>
        </header>

        <section class="modal-card-body">

            <form [formGroup]="formularioActualizacion" (ngSubmit)="guardarDatos();">

                <div class="field">
                    <div class="control">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Nombres</mat-label>
                            <input type="email" matInput placeholder="Ingresa tus nombres" formControlName="nombres">
                        </mat-form-field>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input type="email" matInput placeholder="Ingresa tus apellidos"
                                formControlName="apellidos">
                        </mat-form-field>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input type="email" matInput placeholder="Ingresa tu correo electrónico"
                                formControlName="correo">
                        </mat-form-field>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'"
                                placeholder="Ingresa la contraseña de tu cuenta" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" type="button">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <button class="button is-block is-warning is-fullwidth is-medium" type="submit"
                    [disabled]="cargandoBoton">Guardar</button>

                <br>

            </form>

        </section>


    </div>
</div>