<section class="centrar-login">

    <div class="contenedor">

        <h1 class="title is-2">Perdí mi contaseña</h1>
        <p class="description">Ingresa tu correo para enviarte una nueva contraseña.</p>

        <form [formGroup]="recuperarForm" (ngSubmit)="enviarCorreoUsuario();">
            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input type="email" matInput placeholder="Ingresa tu correo electrónico"
                            formControlName="correo">
                    </mat-form-field>
                </div>
            </div>

            <button mat-button mat-raised-button color="primary" type="submit"
                [disabled]="cargandoBoton">Recuperar</button>

            <br>
            <br>

            <small>
                <a [routerLink]="['/registro']">¿No tienes una cuenta?</a>
                <br>
                <a [routerLink]="['/login']">Loguearme</a>
            </small>

        </form>

    </div>

</section>