.hero-body {
    background-image: url("/assets/fondo-incio.jpg");
    background-position: center;
    background-size: cover;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    overflow: auto;
}

table td,
table th {
    vertical-align: middle !important;
}

mat-progress-bar {
    position: sticky;
    top: 60px;
    z-index: 999;
}
