<section class="centrar-login">

    <div class="contenedor">
        <h1 class="title is-3">Registrate</h1>
        <p class="description">Registrate para acceder a los beneficios de Inmobiliaria DCCN.</p>

        <form [formGroup]="formularioRegistro" (ngSubmit)="enviarFomulario();">

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input type="email" matInput placeholder="Ingresa tus nombres" formControlName="nombres">
                    </mat-form-field>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Apellidos</mat-label>
                        <input type="email" matInput placeholder="Ingresa tus apellidos" formControlName="apellidos">
                    </mat-form-field>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input type="email" matInput placeholder="Ingresa tu correo electrónico"
                            formControlName="correo">
                    </mat-form-field>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"
                            placeholder="Ingresa la contraseña de tu cuenta" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>País</mat-label>
                        <mat-select formControlName="pais">
                            <mat-option *ngFor="let country of countries" [value]="country.name">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input type="tel" matInput placeholder="Ingresa tu teléfono" formControlName="telefono">
                    </mat-form-field>
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input type="text" matInput placeholder="Ingresa tu dirección" formControlName="direccion">
                    </mat-form-field>
                </div>
            </div>

            <button cmat-button mat-raised-button color="primary" type="submit"
                [disabled]="cargandoBoton">Registrarme</button>

            <br>
            <br>

            <small>
                <a [routerLink]="['/login']">Volver al login</a>
            </small>

        </form>
    </div>

</section>