<h1 mat-dialog-title>Editar Usuario</h1>

<div mat-dialog-content>

    <form [formGroup]="formularioCreacion" (ngSubmit)="registrarUsuario();">

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input type="text" matInput placeholder="Ingresa tus nombres" formControlName="nombres">
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput placeholder="Ingresa tus apellidos" formControlName="apellidos">
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input type="email" matInput placeholder="Ingresa tu correo electrónico" formControlName="correo">
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="idrol">
                        <mat-option value="1">
                            Administrador
                        </mat-option>
                        <mat-option value="2">
                            Usuario
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Ingresa la contraseña de tu cuenta"
                        formControlName="password">
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>País</mat-label>
                    <mat-select formControlName="pais">
                        <mat-option *ngFor="let country of countries" [value]="country.name">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input type="tel" matInput placeholder="Ingresa tu teléfono" formControlName="telefono">
                </mat-form-field>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input type="text" matInput placeholder="Ingresa tu dirección" formControlName="direccion">
                </mat-form-field>
            </div>
        </div>

    </form>

</div>

<div mat-dialog-actions>
    <button mat-button mat-raised-button color="primary" [disabled]="cargandoBoton" (click)="registrarUsuario()"
        cdkFocusInitial>Registrar</button>
    <button mat-button (click)="cerrarModal();">Cancelar</button>
</div>